/* app css stylesheet */


.capitalize{
  text-transform: capitalize;
}

.iconSexTier{
  width: 70px;
}

tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

table{
  height:300px;
  display: -moz-groupbox;
}
tbody{
  overflow-y: scroll;
  height: 700px;
  width: 99%;
  position: absolute;
}

.head1, .col1{
  width:2%;
}

.head2, .col2{
  width:20%;
}

.head3, .col3{
  width:20%;
}
.head4, .col4{
  width:5%;
}
.head5, .col5{
  width:5%;
}
.head6, .col6{
  width:48%;
}
