<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!--<link href="bower_components/bootstrap/dist/css/bootstrap-combined.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">

  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">

  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="page-header">
  <img ng-src="dataGrid/img/Viz_logo.png" />
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-center">
      <div ng-controller="ModalCtrl">
        <button class="btn" ng-click="open()">Add Player</button>
      </div>
    </div>
    <div class="col-md-10 text-center">
      <div ng-controller="dataGridCtrl" >
        <div init-modal> </div>
        <div render-data-grid > </div>
      </div>
    </div>
  </div>
</div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular/angular-animate.js"></script>
  <script src="bower_components/angular/angular-sanitize.js"></script>
  <script src="bower_components/angular/angular-route.js"></script>
  <script src="bower_components/angular/angular-resource.js"></script>
  <script src="bower_components/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script src="app.js"></script>
  <script src="dataGrid/grid.js"></script>
 <!-- <script src="modalPopUp/modal.js"></script> -->
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
  </body>
  </html>
