            <div ng-if="state === 'loading'">
                <p>Loading</p>
            </div>

            <div ng-if="state === 'ready'">
                <table class="table table-fixed table-bordered table-striped" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th class="head1"></th>
                        <th class="{{header}} head{{$index+1}}" ng-repeat="(header, value) in data[0]" ng-if="$index>0"
                            ng-click="sortBy(header)">
                            <span class="capitalize">{{header}}</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in data" ng-click="info=!info" ng-class="{'info':info}">
                        <td class="col1" >{{$index+1}}</td>
                        <td class="col2">{{item.firstname}}</td>
                        <td class="col3">{{item.surname}}</td>
                        <td class="iconSexTier col4">
                            <div ng-if="item.sex === 'male'">
                                <div ng-include="'dataGrid/img/icon_male.svg'"></div>
                            </div>
                            <div ng-if="item.sex === 'female'">
                                <div ng-include="'dataGrid/img/icon_female.svg'"></div>
                            </div>
                        </td>
                        <td class="iconSexTier col5">
                            <div ng-if="item.tier === 'gold'">
                                <div ng-include="'dataGrid/img/tier_gold.svg'"></div>
                            </div>
                            <div ng-if="item.tier === 'bronze'">
                                <div ng-include="'dataGrid/img/tier_bronze.svg'"></div>
                            </div>
                            <div ng-if="item.tier === 'silver'">
                                <div ng-include="'dataGrid/img/tier_silver.svg'"></div>
                            </div>
                        </td>
                        <td class="col6">{{item.email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div ng-if="state === 'error'">
                <p>Error: {{errorMessage}}</p>
            </div>
