<div class="modal-header">
    <h3>Add Player</h3>
</div>
<form name="regForm" novalidate class="form-horizontal">
    <div class="modal-body">

        <div class="form-group">
            <label class="control-label col-sm-2" for="firstName">First Name</label>

            <div class="col-sm-10">
                <input class="form-control" type="text" name="firstName" ng-model="player.firstname" id="firstName"
                       placeholder="Enter First Name" required>
      <span style="color:red" ng-show="regForm.$submitted || regForm.firstName.$touched">  <!-- <span style="color:red" ng-show="regForm.firstName.$dirty && regForm.firstName.$invalid"> -->
        <span ng-show="regForm.firstName.$error.required">First Name is required.</span>
      </span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="surname">Surname</label>

            <div class="col-sm-10">
                <input class="form-control" type="text" name="surname" ng-model="player.surname" id="surname" required>
      <span style="color:red" ng-show="regForm.$submitted || regForm.surname.$touched">
        <span ng-show="regForm.surname.$error.required">Surnamee is required.</span>
      </span>
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="sex">Sex</label>

                    <div class="col-sm-10">
                        <select class="selectpicker form-control" name="sex" id="sex" ng-model="player.sex"
                                title="Choose one of the following..." required>
                            <option ng-repeat="it in sex">{{it}}</option>
                        </select>
       <span style="color:red" ng-show="regForm.$submitted || regForm.sex.$touched">
        <span ng-show="regForm.sex.$error.required">Sex is required.</span>
      </span>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tier">Tier</label>

                    <div class="col-sm-10">
                        <select class="selectpicker form-control" name="tier" id="tier" ng-model="player.tier"
                                title="Choose one of the following..." required>
                            <option ng-repeat="item in tier">{{item}}</option>
                        </select>
       <span style="color:red" ng-show="regForm.$submitted || regForm.tier.$touched">
        <span ng-show="regForm.tier.$error.required">Tier is required.</span>
      </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email</label>

            <div class="col-sm-10">
                <input class="form-control" type="email" name="email" ng-model="player.email" id="email" required>
              <span style="color:red" ng-show="regForm.email.$dirty && regForm.email.$invalid && regForm.$submitted || regForm.email.$touched">
                <span ng-show="regForm.email.$error.required">Email is required.</span>
                <span ng-show="regForm.email.$error.email">Invalid email address.</span>
              </span>
            </div>
        </div>

    </div>


    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <input type='submit' class="btn btn-primary" ng-click="regForm.$invalid ? alert('Please fill form') : ok(player)" value='Add'>
    </div>
</form>
