<form novalidate class="simple-form" name="form">
    ID: <input type="text" ng-model="player.id" /><br />
    First Name: <input type="text" ng-model="player.firstname" /><br />
    Surname: <input type="text" ng-model="player.surname" /><br />
    <label for="sex"> Sex </label>
    <select name="sex" id="sex" ng-model="player.sex">
        <option  value="male">male</option>
    </select>
    <label for="sex"> Tier </label>
    <select name="tier" id="tier" ng-model="player.tier">
        <option  value="gold">gold</option>
    </select>
    </br>
    E-mail: <input type="email" ng-model="player.email" /><br />
    <input type="button" ng-click="reset()" value="Cancel" />
    <input type="submit" ng-click="update(player)" value="Add" />
    <dropdown placeholder="Colour.." list="colours" selected="colour" property="name"></dropdown>
</form>



<!-- <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>-->